<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <script src="../../../socket.io/socket.io.js"></script>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/ts/chat.js" defer></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/chat.css">
    </head>
    <body>
        <div class="m-1 row">
            <a class="m-1 btn btn-primary" href="/">Home</a>
            <a class="m-1 btn btn-primary" href="/pong">Pong</a>
            <a class="m-1 btn btn-primary" href="/cardgame">Cardgame</a>
        </div>
        <div class="m-1 row">
            <ul class="col-6 m-1" id="messages" class="list-group"></ul>
            <ul class="col-2 m-1" id="users" class="list-group"></ul>
        </div>
        <form class="m-1 row" id="send" action="/" method="POST" id="chatForm">
            <div class="col-6 form-group">
                <input id="txt" class="form-control" autocomplete="off" autofocus="on" placeholder="type your message here..."/>
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </body>
</html>