<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/ts/home.js" defer></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <a class="btn btn-primary" href="/chat">Chat</a>
            <a class="btn btn-primary" href="/pong">Pong</a>
            <a class="btn btn-primary" href="/cardgame">Cardgame</a>
            <div id="save" class="btn btn-primary">Save</div>
            <a class="btn btn-primary" href="/txt/data.txt">Text</a>
        </div>
    </body>
</html>