<!DOCTYPE html>
<html>
    <head>
        <title>Pong</title>
        <script src="../../../socket.io/socket.io.js"></script>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/ts/pong.js" defer></script>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/pong.css">
    </head>
    <body>
        <div class="m-1 row">
            <a class="m-1 btn btn-primary" href="/">Home</a>
            <a class="m-1 btn btn-primary" href="/chat">Chat</a>
            <a class="m-1 btn btn-primary" href="/cardgame">Cardgame</a>
        </div>
        <div class="m-1 d-flex justify-content-center">
            <div class="pong-div">
                <div class="row">
                    <div class="text-left col-6" id="player1">0</div>
                    <div class="text-right col-6" id="player2">0</div>
                </div>
            </div>
        </div>
        <div class="m-1 row justify-content-center">
            <div id="pong3D"></div>
            <!--<canvas id="pong" width="256" height="256">
    
            </canvas>-->
        </div>
    </body>
</html>